{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <form action="report-scanner" method="post">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Select a layout
            </h1>
        </div>
        <div class="govuk-grid-column-full">
            <div class="primary-row">
                <div class="govuk-inset-text sa-inset-text sa-primary">
                    <h3><a href="image.html">Image</a></h3>
                    Template with image
                </div>
                <div class="govuk-inset-text sa-inset-text sa-primary">
                    <h3><a href="branded.html">Branded</a></h3>
                    Template with GOV.UK theme
                </div>
                <div class="govuk-inset-text sa-inset-text sa-primary">
                    <h3><a href="unbranded.html">Unbranded</a></h3>
                    Blank page with no theming
                </div>
            </div>
<!--            {{ govukButton({
            text: "Report offline",
            classes: "govuk-button&#45;&#45;secondary"
            }) }}-->

            <div class="secondary-row">
                <div class="govuk-inset-text sa-inset-text sa-secondary">
                    <h3><a href="conditional.html">Conditional form</a></h3>
                    Form with image layout
                </div>
                <div class="govuk-inset-text sa-inset-text sa-secondary">
                    <h3><a href="#">Reporting</a></h3>
                    View reports
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
